.head{
  color: blue;
  text-align: center;
  font-family: fantasy;
  background-color: bisque;
}


.app{
  border: 1px sol black;
  border-radius: 12px;
  padding: 12px;
  margin: 12px;
  background-color: aliceblue;

}